//color setup
$cloud_gray: #e8e8e8;
$milk_gray: #eee;
$medium_gray: #ccc;
$charcoal: #333;
$silver: #E3E5E7;
$white: #fff;
$mint: #01dfa5;
$mint_cream: #F5FFFA;
$white_smoke: #F5F5F5;


$THEME_COLOR: $mint;
$HIGHLIGHTS: $cloud_gray;
$BORDER_BUTTON: $charcoal;


// import other files and libraries here
@import 'mixins.scss';
@import 'media_queries.css';

html {
  background-color: $milk_gray;
}

body { font-family: 'Crete Round', serif; }

.navigation {
  border-bottom: 1px solid $white_smoke;
  border-top: 5px solid $HIGHLIGHTS;
  position: fixed;
  z-index: 1;
  width: 100%;
  color: $milk_gray;
  height: 70px;
  background-color: $THEME_COLOR;
  color: $HIGHLIGHTS;
  text-align: center;
  border-radius: 0px;

  ul {
    height: auto;
    margin: 0px;
  }

  li {
    display: inline;
    padding: 6%;
    text-decoration: none;
    color: $white;
    font-weight: bold;
    font-size: 40px;
  }
}


h3 {
  text-align: center;
  text-transform: uppercase;
  opacity: 0.5;
  font-size: 25px;
}

h3:hover {
  opacity: 1.0;
}

.logo-icon {
  i {
    text-align: left;
  }
  font-family: 'Kameron', serif;
}

.logo-text {
  li {
    a {
      text-decoration: none;
    }
  }
}

// end of main page //

img {
  border-radius: 3px;
  opacity: 0.8;
}

img:hover {
  opacity: 1.0;
}

.container {
  padding-top: 45%;
}

.room-container {
  padding-top: 20px;
}

.front_page_button {
  @include container_setup();
  border: 2px solid $medium_gray;
  background-color: $white_smoke;
  text-decoration: none;
  height: 55%;
  display: block;
}

div {
    text-align: center;
}

.button {
  width: 200px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
  color: $THEME_COLOR;
  white-space: nowrap;
  text-align: center;
}

.button:hover {
  text-decoration: none;
  white-space: nowrap;
}

.search-room-container {
  margin: 2% auto;
  width: 100%;
  text-align: center;
  font-size: 20px;
  border-radius: 3px;
}

.search-footer-container, .track-information {
  position: fixed;
  left:0px;
  bottom:0px;
  clear: both;
  text-align: center;
  width: 100%;
  background-color: $medium_gray;
  border-top: $mint_cream;

  h3 { font-size: 20px;}
}

// inside list_room page //

.studio {
  margin: 4% auto;
  border-radius: 3px;
  border: 3px solid $mint_cream;
}

.room_banner {
  h3 {
    opacity: 1.0px;
    padding: 0 2%;
    margin: 0px;
  }
}

.column{
  p {
    font-size: 18px;
  }
}

.list_room_text {
  padding: 0 3%;
}

// end list_room page //


.each-song {
  img {
    border-top: 8px solid $medium_gray;
    border-bottom: 5px solid $cloud_gray;
  }
}


.logo-text {
  text-align: center;
}


.song-header {
  color: $white;
  content: "title";
  p {
    font-size: 10px;
    opacity: 0.5;
  }
}

.fie-search { padding: 0 1%;}

.fi-inbox, .fi-mic{
  padding: 2%;
  text-align: left;
}

footer {
  p {
    font-size: 12px;
  }

  footer.column {
    background-color: $mint_cream;
    margin-top: 10%;
  }
}
// inside studi0
.studio_middle_container {
  @include container_setup();
  border: 2px solid $cloud_gray;
  position: fixed;
  top: 50%;
  left: 70%;
  margin-top: -20%;
  margin-left: -30%;
}




// // css /////////////////////////////////////////
// #enter-room-msg {
//   color: $charcoal;
// }


// /*88888888888888888888888888888888888888888888888*/

