@import 'theme_colors.css.scss';    //load colors
@import 'mixins.scss';


// inside studi0

.studio_middle_container {
  margin-bottom: 25%;
  vertical-align: middle;
  text-align: center;
}

 // CHANGECHANGE
#song-title {
  z-index: 100;
  color: black;
  position: relative;
  bottom: 10px;
  height: 50px;
  margin-bottom: 25px;
}

