/********** MEDIA QUERIES **********/

/* All Devices */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 48rem;
  width: 70%;
}

@media (min-width: 40rem) {
  .column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 25%; }
  .column.flow-opposite { float: right; }
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* Laptop & Desktop screens */
@media (min-width: 1025px){
  p{
    font-size: 2.65em;
  }

  .button{
    margin: 25px;
  }

  a.button{
    width: 50%;
    .front_page_button{
      padding: 20%;
    }
    .fi-mic, .fi-inbox{
      font-size: 2.75em;
    }
  }
}

/* Tablets */
@media (max-width: 1024px){
  p{
    font-size: 2.5em;
  }

  .studio.column.full{
    margin-bottom: 20px;
    margin-left: -35px;
    padding: 25px;
  }

  .button{
    margin: 25px;
  }

  a.button{
    width: 50%;
    .front_page_button{
      padding: 20%;
    }
    .fi-mic, .fi-inbox{
      font-size: 2em;
    }
  }
}

/* Smartphones */
@media (max-width: 650px){
  p{
    font-size: 1.25em;
  }

  .studio.column.full{
    margin-bottom: 75px;
    margin-left: -35px;
    padding: 25px;
  }

  .button{
    margin: 25px;
  }

  a.button{
    .front_page_button{
      padding: 10%;
      width: 75%;

    }
    .fi-mic, .fi-inbox{
      font-size: 1.5em;
    }
  }
}

/********* end media queries section ************/
