//color setup
$cloud_gray: #e8e8e8;
$milk_gray: #eee;
$medium_gray: #ccc;
$charcoal: #333;
$silver: #E3E5E7;
$white: #fff;
$mint: #01dfa5;
$mint_cream: #F5FFFA;
$white_smoke: #F5F5F5;

$THEME_COLOR: $mint;
$HIGHLIGHTS: $cloud_gray;
$BORDER_BUTTON: $charcoal;
