

<div class="main-container">
  <div class="front_page_button"><a href="#"> Create a room </a> </div>
    <div class="front_page_button"> <a href = <%= root_path %>"list_room.html"> Join a a room  </a> </div>



  <div class="list-rooms-container">
    <div class="room-container">
    </div>
  </div>

  <div class="search-container">
    <div class="search-bar-container">
    </div>

  <!--   <div class="results-container">
    </div> -->

  </div>

  <div class="song-basket">
  </div>

</div>

<!-- <div class="front_page_button">
  <button type="button" id="create-room"> Create a room </button> <br>
  <button type="button" id="join-room "> Join a room </button>
</div> -->
