<div class="main-container column full">
  <div class="row clearfix">
    <div class="front_page_button"><a href="#" id="create-studio" class="button"><i class="fi-mic"></i> Create studio</a> </div>
    <div class="front_page_button"> <a href ="#" id="join-studio" class="button"> <i class="fi-inbox"></i> Join studio</a> </div>
  </div>
  <div class="list-rooms-container">
  </div>

  <div class="search-container column full">
    <div class="search-bar-container">
    </div>

  </div>

  <div class="song-basket">
  </div>
</div>



