<div class="main-container column full">
  <div class="row clearfix">

    <!-- put the div inside the anchor tag to click on the whole container -->
    <a href="#" id="create-studio" class="button">
      <div class="front_page_button">
        <i class="fi-mic">Create studio</i>
      </div>
    </a> <br>

    <a href ="#" id="join-studio" class="button">
      <div class="front_page_button">
        <i class="fi-inbox"> Join studio </i>
      </div>
    </a>

    <div class="list-rooms-container">
    </div>

    <div class="search-container column full">
      <div class="search-bar-container">
      </div>
    </div>

    <div class="song-basket">
    </div>

</div>



