<div class="inside_room_container">

  <!-- sample with json -->
  <img src="album1.jpg">
  <h5> AlbumTitle </h5>
  <h5> The FakeArtistName </h5>

 <!--   uncomment this after json is received -->
  <ul class = "song-container">
      {{#each song}}
       <p> <img src=" {{song.album_img_url}}"</p>
       <h4> {{song.track_title}} </h4>
       <p> {{song.artist_name}} </p>
      {{/each}}
  </ul>
</div>