<div class = "inside-room-container">
  <h3> Welcome to {{room.name}}. </h3>

  <div class = "song-container">
    <img src = "{{room.song_photo}}">
  </div>
  <!-- soundcloud  playlist here -->

</div>