<div class="room_banner">
  <h3> Active Room </h3>
  <p> Tralalala, join a rooooooom! <p>
</div>
<div class = "room-container">
  <ul>
      {{#each studio}}
      <div style="border: 1px solid black" id="{{name}}">
        <p>Name: {{name}}</p></br>
        <p>Listeners: {{listeners}}</p>
        <p></p>
      </div>
      {{/each}}
  </ul>
</div>
