<div class = "search-room-container">
  <form>
    search: <input type="search" name="all_search">
  </form>
</div>

{{!-- <div class="song-basket">
      <br> <h3> Your playlist </h3>
      <div class="songs"></div>
</div> --}}

<!-- after receiving actual search json object-->
  <div class = "results-container">

  </div>



