{{#each songData}}
  <div class="each-song">
    <div class="song-info-container">
      <img src="{{artwork_url}}" alt="no album cover available">
      <h3>Song Id: {{id}} </h3> <br>
      <h3> {{title}} </h3>
    </div>
  </div>
 {{/each}}
