{{#each songData}}
  <div class="each-song column fourth">
  	<div class="song-header">
       <p> {{title}} </p>
    </div>
      <img src="{{artwork_url}}" alt="no album cover available" id="{{id}}">
  </div>
 {{/each}}
