<div class = "search-room-container">

  <form>
    <i class="fie-search"></i> <input type="search" placeholder="search for song">
  </form>

</div>

{{!-- <div class="song-basket">
      <br> <h3> Your playlist </h3>
      <div class="songs"></div>
</div> --}}

<!-- after receiving actual search json object-->
<div class = "results-container">
</div>

  <footer>
    <div class= "search-footer-container">
      <h3>Songlist</h3>
    </div>
  </footer>




