<div class = "search-room-container">
  <form>
    search: <input type="search" name="all_search">
    <input type="submit">
  </form>
</div>


<!-- after receiving actual search json object-->

    <div class = "results-container">
     {{!--  {{#each songData}}
        <img src="{{artwork_url}}">
        <p>{{id}} </p>
        <p>{{title}}</p>
      {{/each}} --}}
    </div>


<div class="song-basket">
  <h3> Your playlist </h3>
      <p id="song1">1. empty </p>
      <p id="song2">2. empty </p>
      <p id="song3">3. empty </p>
</div>


