<div class = "search-room-container">
  <form>
    search: <input type="search" name="all_search">
    <input type="submit">
  </form>
</div>

<div class="song-basket">
      <br> <h3> Your playlist </h3>
      <p id="song1">1. empty </p>
      <p id="song2">2. empty </p>
      <p id="song3">3. empty </p>
</div>

<!-- after receiving actual search json object-->
  <div class = "results-container">

  </div>



