// /**********  Sass setup ***********\
// font-family: 'Pacifico', cursive;
// font-family: 'Changa One', cursive;
// $green: #478B00;
// \***********************************/

// $dark_blue: #021934;
// $med_blue: #0B4374;
// $butter_cream: #F2F1A0;
// $dark_green: #2C5E1A;
// $light_opacity: 0.7;
// $site_max_width: 320px;

// @mixin container_setup() {
//   margin: 2% auto;
//   text-align: center;
//   font-size: 14px;
// }

// @mixin large-text() {
//   font: {
//     family: Pacifico;
//     size: 350%;
//     weight: bold;
//   }
//   color: white;
//   text-shadow: 12px;
// }


// @mixin text_engraved() {
//   text-shadow: 0px 3px 0px rgba(255,255,255, 0.2);
// }

// @mixin cute_font() {
//   font-family: 'Play', sans-serif;
// }


// // ~~~~~~~~~~~~~ grid set-up ~~~~~~~~~~~~~~~~~~ \\

// /* @media screen and (min-width: 320px) */
// @media only screen
// and (min-device-width : 320px)
// and (max-device-width : 960px) { /* STYLES GO HERE */
// }

// @media screen and (max-width: 480px) { }


// // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ \\

// html {
//   background: url("spots_bg.jpg") no-repeat center center fixed;
//   background-size: cover;
// }

// body { @include cute_font(); }

// h1 {
//   color: $med_blue;
// }

// h3 {
//   @include text_engraved();
//   font-family: 'Play', sans-serif;
// }

// p { @include container_setup(); }

// ul { padding: 0px; }

// .main-container {
//   .main_page_navbar {
//     width: 100%;
//     ul { list-style-type: none;}
//   }
// }

// // .logo {
// //   @include large-text();
// //   background-color: $dark_blue;
// // }

// .photo {
//   @include container_setup();
// }

// .front_page_button {
//   @include container_setup();
//   font-family: 'Bitter', serif;
//   border-radius: 10px;
//   a {
//     text-decoration: none;
//     color: white;
//   }
// }

// .search-room-container {
//   @include container_setup();
//   font-size: 16px;
//   opacity: 0.3;
//   background-color: none;}

// .search-room-container:hover { opacity: 1.0 ;}

// .song-basket {
//   opacity: 0.2;
// }

// .song-basket:hover {
//     opacity: 0.6;
//   }

// .results-container{
//     div.each-song {
//       @include container_setup();
//       background-color: none;
//       opacity: $light_opacity;
//     }
// }

// .results-container:hover {
//   .each-song {
//     background-color: clear;
//     img:hover { opacity: 1.0; }
//     }
// }

// @media all and (min-width: 321px) {
//   .results-container:after {
//     color: #666;
//   }
// }

// .room-container {
//   @include container_setup();
//   height: 5%;
//   width: 30%;
//   background-color: $med_blue;
//   border: 2px solid white;
//   border-radius: 10px;
//   text: gray;
// }

// .song-basket {
//   @include container_setup();
//   background-color: $dark_blue;
//   color: white;
// }

// #enter-room-msg {
//   color: $dark_blue;
// }

// .song-info-container {

// }

// // iphone size is 320x in width
// // @media screen and (max-width: 320px) {}
// // @media screen and (min-width: 321px) {}

