/* for sass
font-family: 'Pacifico', cursive;
font-family: 'Changa One', cursive;
font-family: 'Play', sans-serif;
$green: #478B00;
*/

$dark_blue: #021934;
$med_blue: #0B4374;
$butter_cream: #F2F1A0;

@mixin container_setup() {
  margin: 2% auto;
  text-align: center;
  font-size: 14px;
}

body {
  background-image:url("spots_bg.jpg") ;
  font-family: 'Play', sans-serif;
}

h1 {
  color: $med_blue;
}

h3 {
  text-align: center;
  font-family: 'Play', sans-serif;
  opacity: 0.9;
}

p {
  margin: 2% auto;
  padding: 2% auto;
  text-align: center;
}


.main_page_navbar {
  margin: 0;
  padding: 0;
  color: white;
}

.dropdown_menu {
  text-align: right;
}

.main_title {
  text-align: center;
}

.logo {
  background-color: $dark_blue;
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 350%;
  color: white;
  text-indent: 5px ;
  width: 100%;
}


.front_page_button {
  @include container_setup();
  font-family: 'Bitter', serif;
  border-radius: 10px;
  a {
  text-decoration: none;
  color: white;
  }
}

.search-room-container {
  @include container_setup();
  font-size: 22px;
  opacity: 0.7;
}

.search-room-container:hover {
  opacity: 0.8;
}

.song-basket {
  @include container_setup();
  width: 50%;
  opacity: 0.4;
}


.results-container{
  @include container_setup();
  width: 25%;
  background-color: $butter_cream;
  border-radius: 5px;
  opacity: 0.7;
}

.results-container:hover {
  opacity: 1.0;
}


.each-song-container {
}
.room-container {
  height: 5%;
  margin: 2% auto;
  width: 30%;
  background-color: $med_blue;
  border: 2px solid white;
  border-radius: 10px;
  text-align: center;
  text: gray;
}

.song-basket {
  @include container_setup();
  background-color: $dark_blue;
  color: white;
  border-radius: 10px;
  font-size: 12px
}

#enter-room-msg {
  color: #2C5E1A;
}



/*88888888888888888888888888888888888888888888888*/

