/**********  Sass setup ***********\
font-family: 'Pacifico', cursive;
font-family: 'Changa One', cursive;
font-family: 'Play', sans-serif;
$green: #478B00;
\***********************************/

// import libraries and include other templates:


// ~~~~~~~~~~~~~ grid set-up ~~~~~~~~~~~~~~~~~~ \\


// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

$dark_blue: #021934;
$med_blue: #0B4374;
$butter_cream: #F2F1A0;
$dark_green: #2C5E1A;
$light_opacity: 0.7;

@mixin cute_font() {
  font-family: 'Changa One', cursive;
}
@mixin container_setup() {
  margin: 2% auto;
  text-align: center;
  font-size: 14px;
}

@mixin large-text() {
  font: {
    family: Pacifico;
    size: 350%;
    weight: bold;
  }
  color: white;
  text-shadow: 10px;
}


// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ \\
html {
  background: url("spots_bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

body { @include cute_font(); }

h1 { color: $med_blue; }

h3 {
  text-align: center;
  font-family: 'Play', sans-serif;
  opacity: $light_opacity;
}

p { @include container_setup(); }

.main_page_navbar {
  width: 100%;
    ul { list-style-type: none;}
}

.dropdown_menu {
  text-align: right;
}

.main_title {
  text-align: center;
}

.logo {
  @include large-text();
  background-color: $dark_blue;
}

.photo {
  @include container_setup();
}

.front_page_button {
  @include container_setup();
  font-family: 'Bitter', serif;
  border-radius: 10px;
  a {
    text-decoration: none;
    color: white;
  }
}

.search-room-container {
  @include container_setup();
  font-size: 22px;
  opacity: $light_opacity;
}

.search-room-container:hover {
  opacity: 0.8;
}

.song-basket {
  @include container_setup();
  width: 30%;
  opacity: 0.4;
}


.results-container{
  @include container_setup();
  width: 25%;
  background-color: $butter_cream;
  opacity: $light_opacity;
}

.results-container:hover { opacity: 1.0; }


.each-song{
  background-color: clear;
}

.room-container {
  @include container_setup();
  height: 5%;
  width: 30%;
  background-color: $med_blue;
  border: 2px solid white;
  border-radius: 10px;
  text: gray;
}

.song-basket {
  @include container_setup();
  background-color: $dark_blue;
  color: white;
}

#enter-room-msg {
  color: $dark_blue;
}


