<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Trala</title>
  <script src="http://connect.soundcloud.com/sdk.js"></script>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Changa+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>

</head>
<body>
  <div class="navigation">
    <div class="inside-nav">
    </div>
      <ul>
        <li> &uArr; Trala </li>
      </ul>
  </div>
           <!--  <h1 class="logo"> <a href="/">Trala</a> </h1>
            <h3> mixing music and community on the go </h3> -->
          </div>
  <div class="container">
    <div class="column full">
       <%= yield %>
  </div>
</body>
</html>
